name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    env:
      JWT_SECRET: test-secret
      REFRESH_JWT_SECRET: test-refresh
      
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"
      - name: Install deps
        run: yarn install:all --frozen-lockfile

      - name: Unit tests
        run: yarn workspace backend test:unit

      - name: Integration tests
        run: yarn workspace backend test:int

      - name: End-to-end tests
        run: yarn workspace backend test:e2e
